body {
	background: #fefefe;
}
.teslaImg{
	border-radius: 45px;
	border-style: groove;
	border-width: 3px;
	border-color: black;
	
}
.firstHeader{
	color: black;
	font-size: 36px;
	margin: 10px auto;
}

.secondHeader{
	color: greenyellow;
	background: black;
	padding-left: 10px;
	border-radius: 30px;
	font-size: 36px;
}

.thirdHeader {
	color: rgb(93, 199, 32);

}
.famousPeople{
	color: gold;
	font-size: 28px;
	padding-left: 10px;
	background: black;
	border-radius: 30px;
}

.footer{
	color: black;
	font: caption;
}