body {
	background: #fefefe;
}
.header{
	color: black;
	background-color: rgb(211, 211, 211);
	font-size: 16px;
	border-radius: 10px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	padding: 0 5px;
	text-decoration: none;
}

.fixedNavi{
	position: fixed;
	margin: 10px;
}
.box{
	position: sticky;
	width: 250px;
	height: 250px;
	box-sizing: border-box;
	background: yellowgreen;
	border: 5px;
	border-style: solid;
	border-color: antiquewhite;
}
.teslaImg{
	border-radius: 45px;
	border-style: groove;
	border-width: 3px;
	border-color: black;
	
}
.firstHeader{
	color: black;
	font-size: 36px;
	margin: 10px auto;
	padding-top: 50px;
}

.secondHeader{
	color: greenyellow;
	background: black;
	padding-left: 10px;
	border-radius: 30px;
	font-size: 36px;
	width: 700px;
	margin: 20px auto;
	text-align: center;
}

.thirdHeader {
	color: rgb(93, 199, 32);

}
.photo{
	padding-left: 10px;
	border-radius: 30px;
	


}
.noUnderline{
	text-decoration: none;
}

.famousPeople{
	color: gold;
	font-size: 28px;
	padding-left: 10px;
	background-color: black;
	border-radius: 30px;
	width: 700px;
	margin: 10px auto;
}

.footer{
	color: black;
	font: caption;
}